<launch>
  <node pkg="svo_ros" type="vo_monodepth_offline" name="svo" clear_params="true" output="screen"  required="true">
    <!-- Camera calibration file -->
    <rosparam file="$(find svo_ros)/param/camera_kitti03.yaml" />

    <!-- Parameter settings -->
    <rosparam file="$(find svo_ros)/param/vo_kitti.yaml" />

    <!-- Initial camera orientation, make it point downwards -->
    <param name="init_rx" value="0.00" />
    <param name="init_ry" value="0.00" />
    <param name="init_rz" value="0.00" />
  </node>
</launch>
